.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

.background-scroll {
  background-image: url('https://media.istockphoto.com/id/1307964333/vector/kitchenware-vector-pattern.jpg?s=612x612&w=0&k=20&c=tyDNGwCSzJEzHRa_F0-6ANDfMJcUi2YkYCQXMPBxKQA=');
  background-size: cover; 
  background-repeat: repeat-y;
  background-attachment: fixed;
  min-height: 100vh; 
  width: 100%;
  animation: scrollBackground 10s linear infinite;
  overflow: hidden; 
}


.todo-container {
  min-height: 100vh; 
  padding: 20px;
}